/*+*
* openTeacher 
*
* - Open Source Software for teachers and educators
* Code licensed under GNU GPL License v2
* 
* Author: @richardblondet 
* Update: 20 Feb, 2015
*/

/***************************************
	TABLE OF CONTENTS
++++++++++++++++++++++++++++++++++++++++
1. General styles
2. Menu Sidebar
3. Header
4. Route Pages
***************************************
***************************************/
 /* 
 * --- Bootstrap is the best.
 */

/*=====================================
1. General styles
=====================================*/
/*@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,300italic,400);
body {
	font-family: 'Roboto', sans-serif, helvetica, arial;
	background-color: #FAFAFA;
}

.btn:focus,
.btn:active {
	outline: 0;
}

.btn-danger {
	background-color: rgba(255, 65, 54, 0.76);
}
.center-text {
	text-align: center;
}
.right-text {
	text-align: right;
}
.left-text {
	text-align: left;
}
/* CSS Fix */
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

.dropdown-menu > li > a {
	font-size: 14px !important;
	cursor: pointer;
}
.dropdown-menu > li > a:hover {
	background-color: #ECECEC;
}
.dropdown-btn { 
	cursor: pointer;
	padding: 10px;
}

.alert-danger {
	background-color: #fff;
	color: #333;
	border-bottom-color: #E8E8E8;
	border-left-width: 5px;
	border-right: none;
}

/* Toastr overrides */
.toast {
	box-shadow: none !important;
}
.toast-success {
	background-color: rgba(46, 204, 113, 0.8) !important;
}
.toast-warning {
	background-color: rgba(241, 196, 15, 0.8) !important;
}

/* Bootstrap Modal Overrides */
.modal {
	background-color: rgba(51, 51, 51, 0.7);
}
.modal-dialog {
	border-radius: 2.5px;
	box-shadow: none;
}
.modal-header.confirm-dialog {
	padding: 5px 15px;
	background-color: rgba(255, 65, 54, 0.6);
}
.modal-header.confirm-dialog h4 {
	color: #fff;
}
.modal-header.confirm-dialog .close {
	color: #fff;
}
.modal-content {
	box-shadow: none !important;
	border: none !important;
	border-radius: 2.5px;
}
.modal-footer {
	background-color: #f5f5f5;
}

.big-number {
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
}
/*=====================================
2. Menu
=====================================*/

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background-color: #F0F0F0;
	border-right: solid 1px #D0D1D6;
	/*border-top: solid 1px #D0D1D6;*/
	/*-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;*/
}
#sidebar-wrapper #user-profile {
	margin: 0 auto;
	width: 50px;
	display: block;
	padding-top: 5px;
	padding-bottom: 10px;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 200px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li a {
	font-size: 14px;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: #575757;
	padding: 10px 0;
	text-transform: uppercase;
	border-bottom: solid 1px #D0D1D6;
	/*-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;*/
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #333;
	background-color: #E4E4E4;
}
.sidebar-nav li.active a {
	text-decoration: none;
	color: #333;
	background-color: #E4E4E4;
}
.sidebar-nav li a .menu-icon {
	padding: 12px 8px 12px 10px;
	border-right: solid 1px #D0D1D6;
	margin-right: 8px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}
#wrapper.toggled #sidebar-wrapper {
	width: 200px;
}

/*=====================================
3. Header
=====================================*/

#menu-toggle {
	margin-right: 8px;
	padding-right: 16px;
	color: #ffffff;
}
#menu-toggle:hover {
	background-color: #5F615A;
}
#menu-toggle:active {
	background-color: #686B62;
}
#wrapper.toggled #menu-toggle {
	background-color: #F0F0F0;
}
#wrapper.toggled #menu-toggle:active {
	background-color: #E0E1E6;   
}

/* navbar menu */
#navmenu {
	padding-top: 50px;
}
.navbar {
	border-radius: 0;
	border-width: 0 0 1px 0;
}
#navmenu .navbar-4teachrs {
	background-color: #3e3f3a;
}
#navmenu .navbar {
	margin-bottom: 0;
	border-width: 0 0 1px 0;
}
#navmenu .navbar-brand {
	padding-top: 5px;
	padding-bottom: 43px;
}
#navmenu .navbar-form {
	padding: 10px 7px;
}
#navmenu .navbar-btn {
	margin-top: 15px;
	margin-bottom: 15px;
}
#navmenu .container-fluid {
	padding-left: 0;
}
#logo {
	width: 115px;
}
#menu-toggle-container,
#logo-container {
	background-color: #444540;
	padding-right: 1.2px;
}

#wrapper {
	padding-left: 0;
	/*-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;*/
}

#wrapper.toggled {
	padding-left: 200px;
}

#page-content-wrapper {
	width: 100%;
	position: relative;
	padding: 0 0 15px;
	border-top: solid 1px #D0D1D6;
	/*display: block;*/
}

#wrapper.toggled #page-content-wrapper {
	position: relative;
	margin-right: -250px;
}


/*=====================================
4. Route Page
=====================================*/
.route-page .navbar-brand {
	margin-left: 5px !important;
}
.route-page .navbar .nav li.active {
	border-right: solid 1px #D0D1D6;
	background-color: #F0F0F0;
}
.route-page .navbar .nav li a {
	border-left: solid 1px #D0D1D6;
}
.route-page .navbar .nav li:last-child a {
	border-right: solid 1px #D0D1D6;	
}

.route-page .navbar .nav.navbar-left li a:nth-child(1) {
	/*border-right: none; */
}
.route-page .navbar .nav li a:hover {
	background-color: #F0F0F0;
}
.route-page .navbar .nav li a:active {
	background-color: #E0E1E6;
}
.route-page .panel .panel-heading {
	background-color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	color: #262626;
	border-bottom: 1px solid transparent;
	border-color: #ffffff;
	padding: 5px 15px;
}
.route-page .panel .panel-heading h4 {
	border: 0 solid #efefef;
	border-bottom-width: 1px;
	padding-bottom: 10px;
}
.route-page .panel .panel-heading a {
	font-weight: 400;
	font-size: 11px;
	color: #333;
}

.route-page .panel .panel-body {
	padding-top: 0;
}
.classroom-description {
	font-weight: 300;
}

/*=====================================
Class styles
=====================================*/
.class-description { 
	display: none;
}
.classurl {
	text-align: center;
}
.class-row:hover .class-description {
	display: block;
}

#single-class-info-box {
	padding: 0 0 20px 0;
	text-align: center;
	border-radius: 0px;
}
#single-class-info-box .help-block {
	font-size: 12px;
}

#single-class-info-box .help-block {
	font-size: 13px;
}
.bookmark{
	height: 50px;
	position: absolute;
	top: 0;
	left: 100px;
	width: 21.34px;
	cursor: pointer;
}

.bookmark:after {
	content: '';
	display: block;
	border: 10px solid transparent;
	border-bottom-color: #eee;
	position: absolute;
	bottom: 0;
}

#single-class-assignments .list-group-item:first-child, 
#single-class-assignments .list-group-item:last-child {
	border-radius: 0;
}

/* Single class editables */
.editable-click, a.editable-click {
	color: inherit;
	border-bottom: none;
}

.editable-icon {
	display: none;
	opacity: 0;
	font-size: 14px;
}
#single-class-info-box:hover .editable-icon {
	opacity: 1;
	display: inline-block;
}

.editable-input {
	background-color: transparent;
	border-radius: 0;
}
/*=====================================
-- Class colors
=====================================*/
ng-color-picker ul {
    padding: 0;
    margin: 0;
}

ng-color-picker li {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
}

ng-color-picker li.selected {
    border: 1px solid #333;
}
