/*=====================================
Mobile Responsive styles
=====================================*/

/*-------------------------------------
1. Header
---------------------------------------*/
#navmenu {
	padding: 0;
}
#menu-toggle-container, #logo-container {
	background-color: inherit;
	padding: 0;
}
#navmenu .container-fluid {
	padding-left: 0;
	padding-right: 0;
}
#navmenu .navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	margin-bottom: 0;
}
#navmenu .navbar .navbar-brand {
	position: absolute;
	top: 10px;
	left: 25px;
}
#menu-toggle {
	display: block;
	width: 80px;
	float: right;
	border-left: solid 1px #dedede;
	border-right: solid 1px #dedede;
	padding-left: 25px;
	padding-right: 40px;
}
.route-page .navbar {
	margin-top: 55px;
}

#sidebar-wrapper {

}
#wrapper.toggled {
	padding-left: 0px;
}
#wrapper.toggled #page-content-wrapper {
	opacity: 0.7;
}
#page-content-wrapper {
	position: absolute;
}
.route-page .navbar-nav {
	margin: 0;
}
.route-page .nav.navbar-nav.navbar-left,
.route-page .nav.navbar-nav.navbar-right {
	margin-bottom: 0;
}
.route-page .nav.navbar-nav.navbar-left {
	display: block;
	margin: 5px 0 5px -15px;
	float: left;
}
.route-page .nav.navbar-nav.navbar-left li {
	float: left;
}
.route-page .nav.navbar-nav.navbar-right {
  	margin-left: -15px;
  	margin-right: -15px;
}
.route-page .navbar-header {
	display: inline-block;
	margin-left: 10px;
}
.route-page .navbar-default .navbar-toggle {
	border-radius: 0;
	border: none;
}
.route-page .collapse.navbar-collapse {
	display: block;
	margin-right: -21px;
}
.bookmark {
	top: -21px;
}