<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<!--  https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100 -->
		<!-- <li>
			<img id="user-profile" class="img-circle" src="client/assets/images/user.png" alt="PROFILE">
			<p class="center-text">
				Richard Blondet
			</p>
		</li> -->
		<li data-ng-class="isActive('/dashboard')">
			<a href="#!/">
				<span class="menu-icon">
					<span class="glyphicon glyphicon-dashboard"></span>
				</span>
				<span class="menu-name">
					Dashboard
				</span>
			</a>
		</li>
		<li data-ng-class="isActive('/classes')">
			<a href="#!/classes">
				<span class="menu-icon">
					<span class="glyphicon glyphicon-book"></span>
				</span>
				<span class="menu-name">
					Classes
				</span>
			</a>
		</li>
		<li data-ng-class="isActive('/assignments')">
			<a href="#!/assignments">
				<span class="menu-icon">
					<span class="glyphicon glyphicon-list-alt"></span>
				</span>
				<span class="menu-name">
					Assignments
				</span>
			</a>
		</li>
		<li data-ng-class="isActive('/students')">
			<a href="#!/students">
				<span class="menu-icon">
					<span class="glyphicon glyphicon-user"></span>
				</span>
				<span class="menu-name">
					Students
				</span>
			</a>
		</li>
		<li data-ng-class="isActive('/settings')">
			<a href="#!/settings">
				<span class="menu-icon">
					<span class="glyphicon glyphicon-cog"></span>
				</span>
				<span class="menu-name">
					Settings
				</span>
			</a>
		</li>
	</ul>
</div>