<section class="route-page">
	<nav class="navbar navbar-default" style="margin-bottom: 0;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">
					Classes
				</a>
			</div>
			<div class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" ng-model="filterclass" class="form-control" placeholder="Filter class">
				</div>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#!/classes/create" popover-placement="bottom" popover="Add Class" popover-trigger="mouseenter">
						<i class="md md-add md-2x"></i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- Listing Classes -->
	<div class="container-fluid">
		<div class="row"> 
			<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
				<table class="table table-striped table-hover">
					<tbody class=""> 
						<tr>
							<th style="border-top: none;"></th>
							<!-- <th style="border-top: none;"></th> -->
							<th style="border-top: none;">
								url
							</th>
							<th style="border-top: none;" class="hidden-xs">
								assignments
							</th>
							<th style="border-top: none;" class="hidden-xs">
								students
							</th>
						</tr>
						<!-- ngRepeat -->
						<tr class="well class-row" ng-repeat="class in classes.classes | filter:filterclass" ng-show="class.status === 'active' ">
							<!-- class info -->
							<td class="col-xs-6" style="border-left: solid 8px {{ class.color }};">
								<h4 class="class-name">
									{{ class.name }}
									<br />
									<small class="class-section">
										{{ class.section }}
									</small>
								</h4>
								<p class="class-description">
									{{ class.description }}
									<br />
								</p>
								<p>
									<a href="#!/classes/{{class.code}}" class="btn btn-primary">
										view class
									</a>
									<a class="btn btn-danger" ng-confirm-removal="remove( class , $index )" ng-confirm-message="Are you sure you want to remove <strong style='text-transform: uppercase;'>{{ class.name }} </strong> from your classes?" item="class" title="Send to trash">
										<span class="glyphicon glyphicon-trash"></span>
									</a>
								</p>
							</td>
							<!-- code -->
							<td clas="col-xs-4">
								<input type="text" class="form-control disabled col-xs-1" disabled value="{{ url.ABSOLUTE }}invite/students/{{ class.code }}">
							</td>
							<!-- assigments -->
							<td class="col-xs-1 big-number text-muted hidden-xs">
								0
							</td>
							<!-- students -->
							<td class="col-xs-1 big-number text-muted hidden-xs">
								0
							</td>
							
						</tr> <!-- /.ngRepeat -->
					</tbody>
				</table>
			</div> 
		</div>
	</div>
	<!-- /.Listing Classes -->
</section>