<section class="route-page">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="#!/classes">
						<i class="md md-chevron-left md-2x"></i><!--  Back to classes -->  <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
					</a>
				</li>
			</ul>
			<a class="navbar-brand"> Create new class </a>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-md-offset-3">
				<form charset="utf8" name="createclassForm" novalidate>
					
					<div class="alert alert-danger" data-ng-show="errors">
						<strong> Error: </strong>
						<li data-ng-repeat="error in errors">
							{{ error }}
						</li>
					</div>
					<p class="lead" data-ng-class="{ 'form-group has-success': !createclassForm.name.$error.required, 'form-group has-error': createclassForm.name.$viewValue.length < 1 }">
						<label for="classname"> Class Name </label> 
						<input id="classname" data-ng-model="class.name" name="name" placeholder="e.g. Biology" type="text" class="form-control" required />
					</p>
					<p class="lead" data-ng-class="{ 'form-group has-success': !createclassForm.section.$error.required, 'form-group has-error': createclassForm.section.$viewValue.length < 1 }">
						<label for="classlabel"> Section </label>
						<input id="classlabel" data-ng-model="class.section" name="section" placeholder="e.g. Section 7, 8th Grade, Mon & Wed" type="text" class="form-control" required />
					</p>
					<p class="lead">
						<label for="classdescription"> Description </label>
						<textarea id="classdescription" name="description" class="form-control" rows="4" data-ng-model="class.description" placeholder="Brief about this class..." style="resize: none;"></textarea>
					</p>
					<p class="lead">
						<label for="classcolor"> Color </label>
						<ng-color-picker selected="class.color"></ng-color-picker> <br />
						<input data-ng-show="isValidColor( class.color )" type="text" class="form-control"  data-ng-model="class.color" disabled />
					</p>
					<p class="lead">
						<button class="btn btn-primary" data-ng-click="createClass()" data-ng-class="{ 'disabled': !createclassForm.name.$viewValue.length, 'disabled': !createclassForm.section.$viewValue.length }" type="submit">
							Create Class
						</button>
					</p>
				</form>
			</div>
			
		</div>
	</div>
</section>