<section class="route-page">
	<!-- navbar -->
	<nav class="navbar navbar-default" style="margin-bottom: 0;">
		<div class="container-fluid">
			<!-- options-left -->
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="#!/classes" title="Return">
						<i class="md md-chevron-left md-2x"></i> 
					</a>
				</li>
			</ul>
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-ng-click="isCollapsed = !isCollapsed" data-target="#single-classroom-options-right">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- options-right mobile togglable -->
			<div class="collapse navbar-collapse" id="single-classroom-options-right" collapse="isCollapsed">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#!/classes/create" popover-placement="bottom" popover="Add Assignment" popover-trigger="mouseenter">
							<i class="md md-add md-2x"></i>
						</a>
					</li>
					<li>
						<a href="#!/classes">
							<i class="md md-cached md-2x"></i> Another Option
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- /.navbar -->
	<!-- container-fluid -->
	<div class="container-fluid">
		<div id="single-class-info-box" class="row jumbotron">
			<div  class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12"><!-- container-layout -->
				
				<div class="bookmark" color-picker-updater="testing( class , $index )" title="Change color" color-picker-message="Custom message" current-color="class.color" style="background-color: {{ class.color }};"></div>
				
				<h1 ng-hide="class.name.$invisible"></h1>
				<h1 editable-text="class.name" class="single-class-name" title="Edit {{class.name}} name">
					{{ class.name || 'Class Name' }}
					<small class="editable-icon" ng-hide="class.name.$visible">
						<i class="md md-mode-edit md-lg"></i>
					</small>
				</h1>
				<p class="single-class-description">
					<span editable-text="class.section" class="text-muted" >
						{{ class.section || 'Class Section'}}
						<small class="editable-icon" ng-hide="class.section.$visible">
							<i class="md md-mode-edit md-lg"></i>
						</small>
					</span> <br />
					<span editable-textarea="class.description" e-rows="4" e-cols="30">
						{{ class.description || 'Class Description' }}
						<small class="editable-icon" ng-hide="class.description.$visible">
							<i class="md md-mode-edit md-lg"></i>
						</small>
					</span>
				</p>
				<p class="form-group">
					<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
						<label class="small h6">
							<span class="text-muted">
								Class URL
							</span>
						</label>
					</div> 
					<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
						<input value="{{ url.ABSOLUTE }}invite/students/{{ class.code }}" type="text" class="form-control disabled col-xs-12 col-md-3 col-md-offset-0" disabled />
						<span class="help-block">
							Students can join this class through this url
						</span>
					</div>
				</p>
				<div class="row">
					<div class="col-xs-6 col-sm-4 col-sm-offset-2">
						<p class="big-number">
							0
						</p>
						<span class="help-block">
							Assignments
						</span>
					</div>
					<div class="col-xs-6 col-sm-4">
						<p class="big-number">
							0
						</p>
						<span class="help-block">
							Students
						</span>
					</div>
				</div>
			</div> <!-- /.container-layout -->
		</div>

		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
			<div id="single-class-assignments" class="list-group">
				<a href="#" class="list-group-item">
					<div class="row">
						<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
							<h4 class="single-class-assignment-header text-muted">
								Assignment name
							</h4>
							<p class="single-class-assignment-status">
								DUE DATE
							</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
							<h4 class="single-class-assignment-header">
								0/0 DONE
							</h4>
						</div>
					</div>
				</a>
				<a href="#" class="list-group-item">
					<div class="row">
						<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
							<h4 class="single-class-assignment-header text-muted">
								Assignment name
							</h4>
							<p class="single-class-assignment-status">
								DUE DATE
							</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
							<h4 class="single-class-assignment-header">
								0/0 DONE
							</h4>
						</div>
					</div>
				</a>
				<a href="#" class="list-group-item">
					<div class="row">
						<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
							<h4 class="single-class-assignment-header text-muted">
								Assignment name
							</h4>
							<p class="single-class-assignment-status">
								DUE DATE
							</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
							<h4 class="single-class-assignment-header">
								0/0 DONE
							</h4>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
	<!-- <h1>
		{{ class | json }}
	</h1> -->
		
</section>