/*+*
* openTeacher 
*
* - Open Source Software for teachers and educators
* Code licensed under GNU GPL License v2
* 
* Author: @richardblondet 
* Update: 20 Feb, 2015
*/

/***************************************
    TABLE OF CONTENTS
++++++++++++++++++++++++++++++++++++++++
1. General styles
2. Menu Sidebar
3. Header
4. Classs Page
***************************************
***************************************/
 /* 
 * --- Bootstrap is the best.
 */

/*=====================================
1. General styles
=====================================*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);
body {
    font-family: 'Roboto Condensed', sans-serif, helvetica, arial;
    background-color: #FAFAFA;
}

.btn:focus,
.btn:active {
    outline: 0;
}

.center-text {
    text-align: center;
}


/*=====================================
2. Menu
=====================================*/

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #F0F0F0;
    border-right: solid 1px #D0D1D6;
    border-top: solid 1px #D0D1D6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper #user-profile {
    margin: 0 auto;
    width: 75px;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li a {
    font-size: 18px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #575757;
    padding: 15px 5px;
    text-transform: uppercase;
    border-top: solid 1px #D0D1D6;
    border-bottom: solid 1px #D0D1D6;
     -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333;
    background-color: #E4E4E4;
}
.sidebar-nav li.active a {
    text-decoration: none;
    color: #333;
    background-color: #E4E4E4;
}
.sidebar-nav li a .menu-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

/*=====================================
3. Header
=====================================*/

#menu-toggle {
    border-right: solid 1px #dedede;
    margin-right: 25px;
    padding-right: 13px;
    /*padding-left: 0;*/
}
#menu-toggle:hover {
    background-color: #F0F0F0;
}
#menu-toggle:active {
    background-color: #E0E1E6;
}
#wrapper.toggled #menu-toggle {
    background-color: #F0F0F0;
}
#wrapper.toggled #menu-toggle:active {
    background-color: #E0E1E6;   
}
.navbar {
    border-radius: 0;
}
#navmenu .navbar {
    margin-bottom: 0;
    border-width: 0 1px 1px 1px;
    /*background-color: #E7E8ED;
    border-color: #DEE0EA;*/
    border-bottom: solid 1px #D0D1D6;
}
#navmenu .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
}
#navmenu .navbar-brand {
    padding-top: 25px;
    padding-bottom: 45px;
}
#navmenu .navbar-form {
    padding: 10px 7px;
}
#navmenu .navbar-btn {
    margin-top: 15px;
    margin-bottom: 15px;
}
#navmenu .container-fluid {
    padding-left: 0;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}


#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 0 0 15px;
    border-top: solid 1px #D0D1D6;
    /*display: block;*/
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -250px;
}


/*=====================================
4. Classs Page
=====================================*/
#classes-page .navbar .nav li a {
    border-left: solid 1px #D0D1D6;
}

#classes-page .navbar .nav li a:hover {
    background-color: #F0F0F0;
}
#classes-page .navbar .nav li a:active {
    background-color: #E0E1E6;
}
#classes-page .panel .panel-heading {
    background-color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    color: #262626;
    border-bottom: 1px solid transparent;
    border-color: #ffffff;
    padding: 5px 15px;
}
#classes-page .panel .panel-heading h4 {
    border: 0 solid #efefef;
    border-bottom-width: 1px;
    padding-bottom: 10px;
}
#classes-page .panel .panel-heading a {
    font-weight: 400;
    font-size: 11px;
    color: #333;
}

#classes-page .panel .panel-body {
    padding-top: 0;
}
.classroom-description {
    font-weight: 300;
}
@media (max-width:768px) {
    /*#wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }*/
}

/*.page-content {
    background-color: #F0F1F6;
}*/