<section class="route-page">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">
					Dashboard
				</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="jumbotron">
			<h2>
				Welcome, [[ Teacher Name ]]
			</h2>
			<p>
				Create a class <a href="#!/classes/create" class="btn btn-primary">Create Class</a>
			</p>
		</div>
	</div>
</section>